{% extends 'pages/_base.html' %}

{% load static %}

{% block head_info %}
    <!-- Structured data -->
    <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "person",
            "name": "George Christie",
            "gender": "Male",
            "url": "https://georgechristie.dev/",
            "sameAs": [
                "https://www.linkedin.com/in/george-christie/",
                "https://github.com/GTXiee"
            ],
            "image": "https://georgechristie.dev/static/bio-pic-round-300.png",
            "alumniOf": {
                "@type": "CollegeOrUniversity",
                "name": "University of East Anglia",
                "sameAs": "https://www.uea.ac.uk/"
            }
        }
    </script>
{% endblock %}

{% block content %}

    <main role="main">

        <header class="home-hero container-fluid">
            <div class="row h-100">
                <div class="col my-auto">
                    <h1>Hello, I'm <b class="text-accent">George Christie</b>.<br>
                        I'm a self-taught Django developer.</h1>
                    <a href="#portfolio">
                        <div class="btn-custom-outline mt-2">View my work</div>
                    </a>
                </div>
            </div>
        </header>

        <section class="home-bio container py-5">
            <h2>About</h2>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6 col-lg-4 py-3 text-center">
                    <img class="img" src="{% static 'pages/images/bio-pic-round-300.png' %}"
                         alt="George Christie"/>
                </div>
                <div class="col-md-6 col-lg-4">
                    <p>I'm currently a Senior Digital Marketing executive at upriseUP in Chesham.
                        During my time
                        here I have discovered a love of coding after creating scripts to automate tasks. With a
                        strong understanding in Technical SEO, I know the practices to ensure that a website is
                        built correctly to maximise it's outreach and performance. After playing with a few
                        languages and
                        frameworks over the past year I have landed on Django due to it's power and simplicity.
                    </p>
                </div>
            </div>
        </section>

        <section class="home-portfolio py-5" id="portfolio">
            <div class="container">
                <h2 class="pb-4">Projects</h2>
                <div class="row">
                    {% for job_i in job_data %}
                        <div class="col-md-6 col-lg-4 mb-3">
                            <a href="{{ job_i.job.get_absolute_url }}">
                                <div class="job-display">
                                    <img class="img-fluid overlay-image" src="{{ job_i.image.url }}">
                                    <div class="overlay-middle">
                                        <h3 class="h5 font-weight-bold">{{ job_i.job.title }}</h3>
                                        <p>{{ job_i.job.summary }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

    </main>

{% endblock %}
