{% extends 'pages/_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Contact | George Christie Development{% endblock %}

{% block content %}
    <div class="container py-5">
        <h1 class="pb-1">Contact</h1>
        <p class="text-center py-1">Have a question or want to work together?</p>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-5 custom-form">
                {% crispy form %}
                {#                    <button type="submit" class="btn-custom-form">Submit</button>#}
            </div>
        </div>
    </div>

{% endblock %}