{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ job.title }} | George Christie Development{% endblock %}

{% block content %}

    <main role="main">

        <section class="header pt-5 container">
            <h1 class="text-center">{{ job.title }}</h1>
        </section>

        <section class="container py-4">
            {% if job.body %}
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-8">
                        <h2 class="h4 text-left">brief</h2>
                        <p>{{ job.body }}</p>
                    </div>
                    <div class="col-12 col-lg-2 sep-left">
                        <h2 class="h4 text-left">technology</h2>
                        <ul class="no-indent-ul">
                            {% for tech in job.technologies %}
                                <li>{{ tech }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if job.completed %}
                {% if job.link_to_project %}
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <a href={{ job.link_to_project }}>
                                <div class="text-uppercase btn-custom">
                                    <i class="material-icons">open_in_new</i> View Site
                                </div>
                            </a>
                        </div>
                    </div>
                {% endif %}
                {#                {% if job.display_image %}#}
                {#                    <div class="row justify-content-center pt-4">#}
                {#                        <div class="col-12 col-md-10 col-lg-10">#}
                {#                            <img class="img-fluid" src="{{ job.display_image.url }}"/>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                {% endif %}#}
                {% for image in images %}
                    <div class="row justify-content-center pt-4">
                        <div class="col-12 col-md-10 col-lg-10">
                            <img class="img-fluid" src="{{ image.image.url }}"/>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row justify-content-center pt-4">
                    <div class="col-12 col-md-10 col-lg-8">
                        <img class="img-fluid" src="{% static 'page-not-live.png' %}"/>
                    </div>
                </div>
            {% endif %}


        </section>

    </main>

{% endblock %}
