{% extends 'base.html' %}

{% block content %}

    {% load staticfiles %}

    <main role="main">

        <section class="jumbotron jumbotron-fluid text-center mb-0">
            <div class="container">
                <h1 class="jumbotron-heading">George Christie</h1>
                <p class="lead text-muted">Hey, my name is George and I am self-taught Django developer with a passion
                    for learning.</p>
                <img class="img-fluid img-thumbnail" src="{% static 'george.png' %}"/>
                <p><a href="#portfolio" class="btn btn-primary my-2">View my work</a></p>
            </div>
        </section>

        <div class="portfolio py-5 bg-light" id="portfolio">
            <div class="container">

                <div class="row">

                    {% for job in jobs.all %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                                <img class="card-img-top" src="{{ job.image.url }}"/>
                                <div class="card-body">
                                    <p class="card-text">{{ job.body }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>

{% endblock %}
