{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{{ job.title }} | George Christie Development{% endblock %}

{% block content %}

    <main role="main">

        <section class="header pt-5 container">
            <h1 class="text-center audiowide">{{ job.title }}</h1>
        </section>

        <section class="container py-4">
            <div class="row justify-content-center">
                <div class="col-10 col-sm-8 col-lg-6 d-flex justify-content-between">
                    <label for="broad-checkbox">
                        <input id="broad-checkbox" checked="checked" name="match-types" type="checkbox"/>Broad</label>
                    <label for="phrase-checkbox">
                        <input id="phrase-checkbox" name="match-types" type="checkbox"/> Phrase</label>
                    <label for="exact-checkbox">
                        <input id="exact-checkbox" name="match-types" type="checkbox"/> Exact</label>
                    <label for="bmm-checkbox">
                        <input id="bmm-checkbox" name="match-types" type="checkbox"/> BMM</label>
                </div>

            </div>

            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-8">
                    <textarea id="input-text-1" class="w-100" rows="12" placeholder="Keyword List"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <button id="btn-process" class="btn-custom-form">Process</button>

                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-md-12 col-lg-8">
                            <textarea id="output-text" class="w-100" readonly="readonly" rows="12"
                                      placeholder="Output"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <button id="btn-copy" class="btn-custom-form">Copy to Clipboard</button>
                </div>
            </div>
        </section>

    </main>

    <script src="{% static 'js/script_ordered.js' %}"></script>

{% endblock %}
