{% extends 'pages/_base.html' %}

{% block title %}Portfolio | George Christie Development{% endblock %}

{% block content %}

    <main role="main">

        <div class="container pt-5">
            <h1 class="text-center">Portfolio</h1>

            <div class="row pt-4">
                        {% for job_i in job_data %}
                        <div class="col-md-6 col-lg-4 mb-3">
                            <a href="{{ job_i.job.get_absolute_url }}">
                                <div class="job-display">
                                    <img class="img-fluid overlay-image" src="{{ job_i.image.url }}">
                                    <div class="overlay-middle">
                                        <h3 class="h5 font-weight-bold">{{ job_i.job.title }}</h3>
                                        <p>{{ job_i.job.summary }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                    </div>
        </div>


    </main>

{% endblock %}
