{% extends 'pages/_base.html' %}

{% block title %}Portfolio | George Christie Development{% endblock %}

{% block content %}

    <main role="main">

        <div class="container pt-5">
            <h1 class="text-center">Portfolio</h1>

            <div class="row pt-4">
                        {% for job_info in job_data %}
                            <div class="col-md-6 pb-3">
                                <a href="{% url 'job_detail' job_info.job.url_slug %}">
                                    <div class="job-display">
                                        <img class="img-fluid overlay-image" src="{{ job_info.image.url }}">
                                        <div class="overlay-middle">
                                            <h3 class="h5 font-weight-bold">{{ job_info.job.title }}</h3>
                                            <p>{{ job_info.job.summary }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
        </div>


    </main>

{% endblock %}
